
<h2>
    Seleccione el sistema operativo de su preferencia
</h2>
<section routerLink="/dispositivo">
    <img src="https://th.bing.com/th/id/R.1ea90170ea220a7ec05b6930fdc8e799?rik=5ZHAFXNVSPO9jw&pid=ImgRaw&r=0&sres=1&sresct=1">
    <!-- <img src="https://th.bing.com/th/id/OIP.NwELGlwZKkX1To7mytidIQHaHa?w=182&h=182&c=7&r=0&o=5&pid=1.7"> -->
</section>

<section routerLink="/dispositivo">
<img src="https://th.bing.com/th/id/R.acbfcd34554354cf98d958a9a84166c8?rik=WejCPxVR5Km%2bng&riu=http%3a%2f%2fpngimg.com%2fuploads%2fandroid_logo%2fandroid_logo_PNG3.png&ehk=R0hUQL06W1bwjXShKRyrU2GNMrF8N8dm52MKX%2bCmkdE%3d&risl=&pid=ImgRaw&r=0">

</section>