*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (max-width: 400px) {

    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "left_side left_side"
            "aside aside"
            "footer footer"; 
        height: 100%;
        background: #f5f4ef;

    }

    .left_side_interno {
        grid-area: left_side;
    }

    aside {
        grid-area: aside;

        background: #9f6a5c;
    }

    header {
        grid-area: header;
        display: grid;
        grid-template-columns: 49% 49%;
        gap: 0px 20px;
        grid-template-areas:
            "A C"
            "A D"
            "A E"
            "A F"
            "A G"
            "B H";
    }

    /* footer {
        grid-area: footer;
    } */

    .A {
        grid-area: A;
    }

    .B {
        grid-area: B;
    }

    .B {
        grid-area: B;
    }

    .C {
        grid-area: C;
    }

    .D {
        grid-area: D;
    }

    .E {
        grid-area: E;
    }

    .F {
        grid-area: F;
    }

    .G {
        grid-area: G;
    }

    .H {
        grid-area: H;
    }

    aside {
        grid-area: aside;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "idiomas "
            "interesado"
            "lp "
            "form"
            "otrosC"
            "video";
    }

    .nombre-foto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 49% 49%;
        grid-template-areas:
            "foto"
            "nombre";
        justify-items: stretch;
    }

    .A img {
        grid-area: foto;
        margin: 1vw;

        height: auto;
        width: 100%;
    }

    .A p {
        grid-area: nombre;
        font-size: 20px;
    }

    .A h3 {
        margin: 0%;

    }

    #idiomas {
        grid-area: idiomas;

    }

    #lp {
        grid-area: lp;
    }

    #otrosC {
        grid-area: otrosC;
    }

    #interesado {
        grid-area: interesado;

    }

    #form {
        grid-area: form;
    }

    #video {
        grid-area: video;
    }

    .H iframe {
        width: 90%;
        height: auto;
    }

}

@media screen and (min-device-width: 400px) and (max-device-width: 1200px) {

    #idiomas,
    #lp,
    #otros,
    #interesados,
    #form {
        font-size: 10px;
    }

}