mat-form-field {
    width: 100%;
    background-color: rgb(30, 156, 114);
    color: rgb(30, 156, 114);

}

mat-label {
    font-size: 20px;

}
button{
    background-color: rgb(30, 156, 114);
    border: 2px solid none;
    border-radius: 12px;
    color: aliceblue;
}
button:hover{
    background-color:rgb(9, 87, 61)
}

/* .row{
    padding-top: 10%;
} */
h3 {
    background-color: rgb(30, 156, 114);
    padding: 3% 0%;
    font-size: 20px;
    text-align: center;

}

h4 {

    text-align: center;
}

div>img {
    width: 80%;
    height: auto;

}

li {
    background-color: rgb(30, 156, 114);
    margin: 3%;
    padding: 2%;
    border: 2px solid none;
    border-radius: 12px;
    list-style: none;
}

.container.wearable {
    display: inline-flex;
    width: 100%;
    margin: 0px auto;
    align-items: baseline;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.child {
    min-width: 10%;
    min-height: 10%;
    max-width: 35%;
    max-height: 35%;
    margin: 0.4em;
    border-radius: 1em;
}