<mat-form-field appearance="fill">
    <mat-label>Seleccione modelo y marca</mat-label>
    <mat-select>
        <mat-option>

        </mat-option>
    </mat-select>
</mat-form-field>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

<div class="container text-center">
    <div class="row">
        <div class="col">
            <img src="https://th.bing.com/th/id/OIP.xLvRiIvuAeL79UhWxHLf0QHaJo?w=150&h=195&c=7&r=0&o=5&pid=1.7">
            <ul>
                <li>ID</li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li>Nombre</li>
                <li>Marca - modelo</li>
                <li>Precio</li>
                <li>Touch</li>
                <li>Tamaño</li>
                <li>Numero de dispositivos</li>
            </ul>
        </div>
    </div>
</div>
<h3>Wearables disponibles</h3>
<h4>Aplaste un wearable para ver más detalles</h4>

<div class="container wearable">
    <div class="child"> <img src="assets/imagenes/relojI.jpg" routerLink="/wearable"></div>
    <div class="child"> <img src="assets/imagenes/airpodsI.png" routerLink="/wearable"></div>
    <div class="child"><img src="assets/imagenes/alexaI.jpg" routerLink="/wearable"></div>
    <div class="child"><img src="https://th.bing.com/th/id/OIP.vlcr06BxJ0IADbRl3dkmnQHaHa?pid=ImgDet&rs=1" routerLink="/wearable"></div>
    <div class="child"><img src="https://i.pinimg.com/originals/98/dd/b9/98ddb98c92f3b86303bfcb1a9bb31a9c.png" routerLink="/wearable"></div>
    
    
    <!-- (click)="imagen()" -->
</div>
<div>
    <button mat-raised-button routerLink="/so">Atrás</button>
</div>
<!-- <table>
    <tr>
        <td>
            <img src="assets/imagenes/relojI.jpg" routerLink="/wearable">
        </td>

        <td> 
            <img src="assets/imagenes/airpodsI.png" >
        </td>
        <td>
            <img src="assets/imagenes/alexaI.jpg" >
        </td>
    </tr>
    <tr>
        <td> 4 </td>

        <td>5 </td>
        <td>
            6
        </td>
    </tr>
</table> -->
<!-- <div class="container text-center">
    <div class="row">
        <div class="col" routerLink="/wearable">
            Wearable 1
            <img src="assets/imagenes/relojI.jpg" height="20%">
        </div>
        <div class="col">
            Wearable 2
            <img src="assets/imagenes/airpodsI.png" height="20%">
        </div>
        <div class="col">
            Wearable 3
        </div>
    </div>
    <div class="row">
        <div class="col">
            Wearable 4
        </div>
        <div class="col">
            Wearable 5
        </div>
        <div class="col">
            Wearable 6
        </div>
    </div>
</div> -->