body{
    background-color: rgb(131, 212, 185) !important;
}
img {
    width: 100%;
    padding-top:30% ;
}

button{
    border: 2px solid;
    border-radius: 12px;
    background: rgb(30, 156, 114) !important;
    color: aliceblue;
}
.button:hover{
    background-color:rgb(9, 87, 61)
}
.boton {
    display: flex;
    justify-content: center;
      
}
.imagen{
    display: flex;
    justify-content: center;
    padding: 3%;
}